@charset "UTF-8";
@media screen and (max-width: 599px) {
  * {
    font-family: Microsoft JhengHei;
  }
  body {
    margin: 0 auto;
    width: 375px;
  }
  header {
    /* background-color: tomato; */
    height: 84px;
  }
  header .Logo {
    display: inline-block;
    padding: 30px 0 0 30px;
  }
  header .Logo img {
    display: none;
  }
  header .Logo span {
    float: left;
    font-family: 'Material Icons';
    width: 18px;
    height: 12px;
    font-size: 30px;
    color: #3F5D45;
  }
  header .Logo .mLogo {
    display: inline-block;
    width: 114.14px;
    height: 17.74px;
    margin-left: 79.85px;
    margin-top: 5px;
  }
  header .Menu {
    float: right;
    margin: 32px 30px 0 0;
  }
  header .Menu .linka {
    display: none;
  }
  header .Menu li {
    float: right;
    list-style: none;
    /*li不要出現符號樣式 */
  }
  header .Menu li a {
    color: #3F5D45;
    text-decoration: none;
  }
  header .Menu li #shoppingCart {
    display: inline;
  }
  .mainDessert {
    width: 375px;
    height: 277px;
    background: url("./images/mainDessert.jpg") center;
    /* 使用於背景圖片小於容器時，將背景圖片的大小放大至容器的大小並填滿，
        缺點是如果容器的長寬比例與背景圖片的長寬比例不吻合，會出現背景圖片失真的情況。 */
    background-size: cover;
  }
  .dessertLink {
    margin: 0;
    padding: 0;
    width: 375px;
    height: 180px;
    position: relative;
  }
  .dessertLink .todayList {
    background: url("./images/todayList.jpg") center;
  }
  .dessertLink .popularList {
    background: url("./images/popularList.jpg") center;
  }
  .dessertLink .newlist {
    background: url("./images/newlist.jpg") center;
  }
  .dessertLink li {
    display: inline-block;
    width: 33.3333%;
    height: 100%;
    background-size: cover;
  }
  .dessertLink li div {
    background: #3F5D45;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    letter-spacing: 3px;
  }
  .dessertLink li div a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  .dessertLink li div span {
    display: inline-block;
    width: 100%;
  }
  .dessertLink li div:hover {
    background: #FFE180;
  }
  .whyDo {
    height: 682px;
    margin: 0;
  }
  .whyDo .whyDoContent {
    background-color: #EAF0ED;
    height: 682px;
  }
  .whyDo .whyDoContent .imger {
    overflow: hidden;
    width: 375px;
    height: 250px;
    margin-top: -5px;
  }
  .whyDo .whyDoContent .whyDoImg {
    margin-top: -155px;
    width: 375px;
    background-size: cover;
  }
  .whyDo .whyDoContent .whyDoSvg {
    display: none;
  }
  .whyDo .whyDoContent .whyDoInfo {
    color: #8DA291;
    font-size: 16px;
    float: right;
    width: 315px;
    height: 252px;
    margin: 30px;
    line-height: 30px;
  }
  .whyDo .whyDoContent .sm-whyDoSvg {
    width: 196px;
    height: 60px;
    padding: 30px 90px;
    background-color: #FFFFFF;
  }
  .whyEat {
    height: 682px;
    margin: 0;
  }
  .whyEat .whyEatContent {
    height: 682px;
    background-color: #EAF0ED;
  }
  .whyEat .whyEatContent .imger {
    overflow: hidden;
    width: 375px;
    height: 250px;
    margin-top: -5px;
  }
  .whyEat .whyEatContent .whyEatImg {
    margin-top: -155px;
    width: 375px;
    background-size: cover;
  }
  .whyEat .whyEatContent .whyEatSvg {
    display: none;
  }
  .whyEat .whyEatContent .whyEatInfo {
    color: #8DA291;
    font-size: 16px;
    float: right;
    width: 315px;
    height: 252px;
    margin: 30px;
    line-height: 30px;
  }
  .whyEat .whyEatContent .sm-whyEatSvg {
    width: 196px;
    height: 60px;
    padding: 30px 90px;
    background-color: #FFFFFF;
  }
  .noReasonSvg {
    display: none;
  }
  .sm-noReasonSvg {
    width: 226px;
    margin: 30px 74px;
  }
  .dessertList {
    margin: 0 30px;
    width: 315px;
  }
  .dessertList .todayDessert {
    display: inline-block;
    margin-bottom: 30px;
  }
  .dessertList .todayDessert .mark {
    background-color: #3F5D45;
    color: #FFFFFF;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 3px;
    padding: 10px 11px 9px 9.5px;
    position: absolute;
    margin-left: 20px;
    width: 20px;
    height: 87.4px;
  }
  .dessertList .todayDessert .like {
    font-family: 'Material Icons';
    display: inline-block;
    position: absolute;
    margin-top: 19px;
    margin-left: 270px;
    color: #3F5D45;
    font-size: 24px;
  }
  .dessertList .todayDessert .todayDessert_1 {
    overflow: hidden;
    height: 315px;
  }
  .dessertList .todayDessert .todayDessert_1 img {
    width: 315px;
    margin-top: -80px;
  }
  .dessertList .todayDessert .name {
    font-size: 20px;
    color: #3F5D45;
    display: inline-block;
    width: 183px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .price {
    font-size: 20px;
    color: #3F5D45;
    display: inline-block;
    width: 128px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .shop {
    display: block;
    font-size: 24px;
    color: #3F5D45;
    width: 315px;
    height: 65px;
    background: #EAF0ED;
    border: 1px solid #EAF0ED;
    margin: 0;
    font-weight: bold;
  }
  .subSweet {
    background-color: #3F5D45;
    width: 315px;
    height: 126px;
    padding: 30px;
  }
  .subSweet img {
    float: left;
    width: 40px;
    margin: 0px 20px;
  }
  .subSweet p {
    color: #FFFFFF;
    font-size: 24px;
    float: left;
    width: 216px;
    height: 33px;
    margin: 5px 0px 30px 0px;
  }
  .subSweet .email {
    font-family: 'Material Icons';
    color: #3F5D45;
    background-color: #EAF0ED;
    float: left;
    font-size: 24px;
    padding: 16px 20px;
  }
  .subSweet input {
    height: 56px;
    width: 180px;
    background-color: #EAF0ED;
    border: 0;
    padding: 0;
    float: left;
  }
  .subSweet .arrow {
    font-family: 'Material Icons';
    width: 64px;
    height: 56px;
    font-size: 24px;
    color: #3F5D45;
    background-color: #FFE180;
    border: 0;
    float: left;
  }
  footer {
    width: 315px;
    height: 251px;
    background-color: #EAF0ED;
    padding: 30px;
  }
  footer .logoInfoLeft {
    float: left;
    width: 230px;
  }
  footer .logoInfoLeft span {
    float: left;
    margin-top: 40px;
    color: #3F5D45;
    font-size: 16px;
    font-weight: bold;
  }
  footer .logoInfoLeft .markL {
    width: 32px;
    float: left;
    margin-right: 8px;
    margin-top: 37px;
  }
  footer .logoInfoLeft .logo {
    width: 171.22px;
    float: left;
    margin-top: 10px;
  }
  footer .logoInfoRight {
    float: left;
    width: 300px;
  }
  footer .logoInfoRight img {
    width: 59.28px;
    float: right;
    display: none;
  }
  footer .logoInfoRight p {
    float: left;
    color: #3F5D45;
    font-size: 16px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  * {
    font-family: Microsoft JhengHei;
  }
  body {
    margin: 0 auto;
    width: 800px;
  }
  header {
    /* background-color: tomato; */
    height: 84px;
  }
  header .Logo {
    display: inline-block;
    padding: 30px 0 0 30px;
  }
  header .Logo img {
    display: none;
  }
  header .Logo span {
    float: left;
    font-family: 'Material Icons';
    width: 18px;
    height: 12px;
    font-size: 30px;
    color: #3F5D45;
  }
  header .Logo .mLogo {
    display: inline-block;
    width: 114.14px;
    height: 17.74px;
    margin-left: 300px;
    margin-top: 5px;
  }
  header .Menu {
    float: right;
    margin: 32px 30px 0 0;
  }
  header .Menu .linka {
    display: none;
  }
  header .Menu li {
    float: right;
    list-style: none;
    /*li不要出現符號樣式 */
  }
  header .Menu li a {
    color: #3F5D45;
    text-decoration: none;
  }
  header .Menu li #shoppingCart {
    display: inline;
  }
  .mainDessert {
    width: 800px;
    height: 500px;
    background: url("./images/mainDessert.jpg") center;
    /* 使用於背景圖片小於容器時，將背景圖片的大小放大至容器的大小並填滿，
        缺點是如果容器的長寬比例與背景圖片的長寬比例不吻合，會出現背景圖片失真的情況。 */
    background-size: cover;
  }
  .dessertLink {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 300px;
    position: relative;
  }
  .dessertLink .todayList {
    background: url("./images/todayList.jpg") center;
  }
  .dessertLink .popularList {
    background: url("./images/popularList.jpg") center;
  }
  .dessertLink .newlist {
    background: url("./images/newlist.jpg") center;
  }
  .dessertLink li {
    display: inline-block;
    width: 33.3333%;
    height: 100%;
    background-size: cover;
  }
  .dessertLink li div {
    background: #3F5D45;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    letter-spacing: 7px;
  }
  .dessertLink li div a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  .dessertLink li div span {
    display: inline-block;
    width: 100%;
  }
  .dessertLink li div:hover {
    background: #FFE180;
  }
  .whyDo {
    height: 1000px;
    margin: 0;
  }
  .whyDo .whyDoContent {
    background-color: #EAF0ED;
    height: 1000px;
  }
  .whyDo .whyDoContent .imger {
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin-top: -10px;
  }
  .whyDo .whyDoContent .whyDoImg {
    margin-top: -255px;
    width: 800px;
    background-size: cover;
  }
  .whyDo .whyDoContent .whyDoSvg {
    display: none;
  }
  .whyDo .whyDoContent .whyDoInfo {
    color: #8DA291;
    font-size: 18px;
    float: right;
    width: 600px;
    height: 200px;
    margin: 30px;
    line-height: 30px;
    margin-right: 100px;
  }
  .whyDo .whyDoContent .sm-whyDoSvg {
    width: 400px;
    padding: 40px 200px;
    background-color: #FFFFFF;
  }
  .whyEat {
    height: 1080px;
    margin: 0;
  }
  .whyEat .whyEatContent {
    height: 1080px;
    background-color: #EAF0ED;
  }
  .whyEat .whyEatContent .imger {
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin-top: -10px;
  }
  .whyEat .whyEatContent .whyEatImg {
    margin-top: -330px;
    width: 800px;
    background-size: cover;
  }
  .whyEat .whyEatContent .whyEatSvg {
    display: none;
  }
  .whyEat .whyEatContent .whyEatInfo {
    color: #8DA291;
    font-size: 18px;
    float: right;
    width: 600px;
    height: 200px;
    margin: 30px;
    margin-right: 100px;
    line-height: 30px;
  }
  .whyEat .whyEatContent .sm-whyEatSvg {
    width: 400px;
    padding: 40px 200px;
    background-color: #FFFFFF;
  }
  .noReasonSvg {
    display: none;
  }
  .sm-noReasonSvg {
    width: 400px;
    margin: 70px 200px;
  }
  .dessertList {
    margin: 0 30px;
    width: 800px;
    text-align: center;
  }
  .dessertList .todayDessert {
    display: inline-block;
    margin: 30px auto;
  }
  .dessertList .todayDessert .mark {
    background-color: #3F5D45;
    color: #FFFFFF;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 3px;
    padding: 10px 0px 9px 19px;
    position: absolute;
    margin-left: -200px;
    width: 50px;
    height: 100px;
  }
  .dessertList .todayDessert .like {
    font-family: 'Material Icons';
    display: inline-block;
    position: absolute;
    margin-top: 19px;
    margin-left: 160px;
    color: #3F5D45;
    font-size: 40px;
  }
  .dessertList .todayDessert .todayDessert_1 {
    overflow: hidden;
    height: 500px;
  }
  .dessertList .todayDessert .todayDessert_1 img {
    width: 500px;
    margin-top: -130px;
  }
  .dessertList .todayDessert .name {
    font-size: 22px;
    color: #3F5D45;
    display: inline-block;
    width: 300px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .price {
    font-size: 22px;
    color: #3F5D45;
    display: inline-block;
    width: 195px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .shop {
    display: block;
    font-size: 24px;
    color: #3F5D45;
    width: 500px;
    height: 65px;
    background: #EAF0ED;
    border: 1px solid #EAF0ED;
    margin: 0;
    font-weight: bold;
  }
  .subSweet {
    background-color: #3F5D45;
    width: 800px;
    height: 50px;
    padding: 50px;
  }
  .subSweet img {
    float: left;
    width: 40px;
    margin: 0px 20px;
  }
  .subSweet p {
    color: #FFFFFF;
    font-size: 24px;
    float: left;
    width: 216px;
    height: 33px;
    margin: 5px 50px 5px 5px;
  }
  .subSweet .email {
    font-family: 'Material Icons';
    color: #3F5D45;
    background-color: #EAF0ED;
    float: left;
    font-size: 24px;
    padding: 16px 20px;
  }
  .subSweet input {
    height: 56px;
    width: 220px;
    background-color: #EAF0ED;
    border: 0;
    padding: 0;
    float: left;
  }
  .subSweet .arrow {
    font-family: 'Material Icons';
    width: 64px;
    height: 56px;
    font-size: 24px;
    color: #3F5D45;
    background-color: #FFE180;
    border: 0;
    float: left;
  }
  footer {
    width: 800px;
    height: 300px;
    background-color: #EAF0ED;
    padding: 30px;
  }
  footer .logoInfoLeft {
    float: left;
    width: 270px;
  }
  footer .logoInfoLeft span {
    float: left;
    margin-top: 80px;
    color: #3F5D45;
    font-size: 16px;
    font-weight: bold;
  }
  footer .logoInfoLeft .markL {
    width: 32px;
    float: left;
    margin-right: 8px;
    margin-top: 37px;
  }
  footer .logoInfoLeft .logo {
    width: 171.22px;
    float: left;
    margin-top: 10px;
  }
  footer .logoInfoRight {
    float: left;
    width: 300px;
  }
  footer .logoInfoRight img {
    width: 59.28px;
    float: right;
  }
  footer .logoInfoRight p {
    float: left;
    color: #3F5D45;
    font-size: 16px;
  }
}

@media screen and (min-width: 901px) {
  * {
    font-family: Microsoft JhengHei;
  }
  body {
    margin: 0 auto;
    width: 1024px;
  }
  header {
    /* background-color: tomato; */
    height: 100px;
    padding: 0 42px 0 42px;
  }
  header .Logo {
    display: inline-block;
    padding: 30px 0 0 0;
  }
  header .Logo img {
    width: 200px;
    height: 40px;
    opacity: 1;
  }
  header .Logo span {
    font-family: 'Material Icons';
    display: none;
  }
  header .Logo .mLogo {
    display: none;
  }
  header .Menu {
    float: right;
    margin: 40px 0 0 0;
  }
  header .Menu li {
    float: left;
    list-style: none;
    /*li不要出現符號樣式 */
    padding-right: 60px;
  }
  header .Menu li a {
    color: #3F5D45;
    text-decoration: none;
  }
  header .Menu li #shoppingCart {
    padding-right: 0px;
  }
  .mainDessert {
    width: 940px;
    height: 496px;
    background: url("./images/mainDessert.jpg") center;
    margin: 0 42px 0 42px;
    /* 使用於背景圖片小於容器時，將背景圖片的大小放大至容器的大小並填滿，
        缺點是如果容器的長寬比例與背景圖片的長寬比例不吻合，會出現背景圖片失真的情況。 */
    background-size: cover;
  }
  .dessertLink {
    margin: 0 122px 0 122px;
    padding: 0;
    width: 779.01px;
    height: 256px;
    position: relative;
    top: -90px;
  }
  .dessertLink .todayList {
    background: url("./images/todayList.jpg") center;
  }
  .dessertLink .popularList {
    background: url("./images/popularList.jpg") center;
  }
  .dessertLink .newlist {
    background: url("./images/newlist.jpg") center;
  }
  .dessertLink li {
    display: inline-block;
    width: 33.3333%;
    height: 100%;
    background-size: cover;
  }
  .dessertLink li div {
    background: #3F5D45;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    letter-spacing: 7px;
  }
  .dessertLink li div a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
  }
  .dessertLink li div span {
    display: inline-block;
    width: 100%;
  }
  .dessertLink li div:hover {
    background: #FFE180;
  }
  .whyDo {
    overflow: hidden;
    height: 460px;
    margin-top: -30px;
  }
  .whyDo .whyDoContent {
    background-color: #EAF0ED;
    height: 420px;
    position: relative;
    top: 20px;
  }
  .whyDo .whyDoContent .imger {
    float: left;
  }
  .whyDo .whyDoContent .whyDoImg {
    width: 460px;
    margin: -100px  0 0 42px;
  }
  .whyDo .whyDoContent .whyDoSvg {
    width: 88.94px;
    float: right;
    margin: -20px 42px 0 0;
  }
  .whyDo .whyDoContent .whyDoInfo {
    color: #8DA291;
    font-size: 16px;
    float: right;
    width: 256px;
    height: 280px;
    margin: 70px 80px 0 0;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    line-height: 30px;
  }
  .whyDo .whyDoContent .sm-whyDoSvg {
    display: none;
  }
  .whyEat {
    overflow: hidden;
    height: 460px;
    margin-top: 60px;
  }
  .whyEat .whyEatContent {
    background-color: #EAF0ED;
    height: 420px;
    position: relative;
    top: 20px;
  }
  .whyEat .whyEatContent .whyEatImg {
    float: right;
    width: 460px;
    margin: -100px  0 0 42px;
  }
  .whyEat .whyEatContent .whyEatSvg {
    width: 88.94px;
    float: right;
    margin: -20px 42px 0 0;
  }
  .whyEat .whyEatContent .whyEatInfo {
    color: #8DA291;
    font-size: 16px;
    float: right;
    width: 256px;
    height: 280px;
    margin: 70px 80px 0 0;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    line-height: 30px;
  }
  .whyEat .whyEatContent .sm-whyEatSvg {
    display: none;
  }
  .noReasonSvg {
    width: 89.1px;
    margin: 80px 451.9px 80.22px 483px;
  }
  .sm-noReasonSvg {
    display: none;
  }
  .dessertList {
    margin: 0 42px 60px 42px;
    width: 980px;
  }
  .dessertList .todayDessert {
    display: inline-block;
  }
  .dessertList .todayDessert .mark {
    background-color: #3F5D45;
    color: #FFFFFF;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 3px;
    padding: 10px 11px 9px 9.5px;
    position: absolute;
    margin-left: 20px;
    width: 20px;
    height: 87.4px;
  }
  .dessertList .todayDessert .like {
    font-family: 'Material Icons';
    display: inline-block;
    position: absolute;
    margin-top: 19px;
    margin-left: 258px;
    color: #3F5D45;
  }
  .dessertList .todayDessert .todayDessert_1 {
    overflow: hidden;
    height: 315px;
    margin-right: 20px;
  }
  .dessertList .todayDessert .todayDessert_1 img {
    width: 300px;
    margin-top: -60px;
  }
  .dessertList .todayDessert .name {
    font-size: 20px;
    color: #3F5D45;
    display: inline-block;
    width: 171px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .price {
    font-size: 20px;
    color: #3F5D45;
    display: inline-block;
    width: 125px;
    height: 28px;
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 14px 0 14px 0;
  }
  .dessertList .todayDessert .shop {
    display: block;
    font-size: 24px;
    color: #3F5D45;
    width: 300px;
    height: 65px;
    background: #EAF0ED;
    border: 1px solid #EAF0ED;
    margin: 0;
    font-weight: bold;
  }
  .subSweet {
    background-color: #3F5D45;
    width: 1024px;
    height: 116px;
  }
  .subSweet img {
    float: left;
    width: 40px;
    margin: 38px 0 0 122px;
  }
  .subSweet p {
    color: #FFFFFF;
    font-size: 24px;
    float: left;
    width: 216px;
    height: 33px;
    margin: 42px 0 0 20px;
  }
  .subSweet .email {
    font-family: 'Material Icons';
    color: #3F5D45;
    background-color: #EAF0ED;
    float: left;
    font-size: 24px;
    padding: 16px 20px 16px 20px;
    margin: 30px 0 30px 124px;
  }
  .subSweet input {
    height: 56px;
    width: 252px;
    background-color: #EAF0ED;
    border: 0;
    padding: 0;
    margin-top: 30px;
    float: left;
  }
  .subSweet .arrow {
    font-family: 'Material Icons';
    width: 64px;
    height: 56px;
    font-size: 24px;
    color: #3F5D45;
    background-color: #FFE180;
    border: 0;
    float: left;
    margin-top: 30px;
  }
  footer {
    width: 780.23px;
    height: 272.1px;
    background-color: #EAF0ED;
    padding: 38.9px 121.7px 30px 122.07px;
  }
  footer .logoInfoLeft {
    float: left;
    width: 230px;
    height: 271px;
  }
  footer .logoInfoLeft span {
    float: left;
    margin: 115.5px 0 30px 0;
    color: #3F5D45;
    font-size: 16px;
    font-weight: bold;
  }
  footer .logoInfoLeft .markL {
    width: 32px;
    float: left;
    margin-right: 8px;
  }
  footer .logoInfoLeft .logo {
    width: 171.22px;
    float: left;
  }
  footer .logoInfoRight {
    float: right;
    width: 300px;
  }
  footer .logoInfoRight img {
    width: 59.28px;
    float: right;
  }
  footer .logoInfoRight p {
    float: right;
    color: #3F5D45;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */